@font-face {
  font-family: "JetBrainsMono-ExtraLight";
  src: url("JetBrains Mono/JetBrainsMono-ExtraLight.ttf");
}

body {
  font-family: "JetBrainsMono-ExtraLight";
  background-color: #0f0f0f;
  color: #eeeeee;
  margin: 0;
}

.titulo-nombre {
  font-size: 25px;
  margin: 0;
}

.titulo {
  font-size: 18px;
  margin: 0.5rem 0 0 0;
}

.sub-titulo {
  font-size: 16px;
  margin: 0.5rem 0 0 0;
}

.seccion-enlaces {
  margin: 0.5rem 0 0 0;
}

.imagen-enlace {
  width: 2.5rem;
}

.seccion-central {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.seccion-informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 50%;
}

.imagen-representativa {
  width: 100%;
  max-width: 10rem;
  border-radius: 8px;
  -webkit-mask-image: radial-gradient(ellipse, #0f0f0f 40%, transparent 95%);
  mask-image: radial-gradient(ellipse, #0f0f0f 40%, transparent 95%);
}

.seccion-informacion-presentacion {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.seccion-sobre-mi {
  padding: 1rem;
}
