@font-face {
  font-family: "JetBrainsMono-ExtraLight";
  src: url("JetBrains Mono/JetBrainsMono-ExtraLight.ttf");
}

body {
  font-family: "JetBrainsMono-ExtraLight";
  background-color: #0f0f0f;
  color: #eeeeee;
  margin: 0;
}

.titulo-nombre {
  font-size: 25px;
  margin: 0;
}

.titulo {
  font-size: 18px;
  margin: 0.5rem 0 0 0;
}

.sub-titulo {
  font-size: 16px;
  margin: 0.5rem 0 0 0;
}

.seccion-enlaces {
  margin: 0.5rem 0 0 0;
}

.enlace-en-imagen {
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

.imagen-enlace {
  width: 2rem;
  cursor: pointer;
  border-style: none;
}

.seccion-central {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.seccion-informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 50%;
}

.imagen-representativa {
  width: 100%;
  max-width: 10rem;
  border-radius: 8px;
  -webkit-mask-image: radial-gradient(ellipse, #0f0f0f 40%, transparent 95%);
  mask-image: radial-gradient(ellipse, #0f0f0f 40%, transparent 95%);
}

.seccion-informacion-presentacion {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 21px 0px #eeeeee0d;
}

.seccion-sobre-mi,
.seccion-general-proyectos,
.contenedor-experiencia {
  padding: 1rem;
  margin-top: 1rem;
}

.seccion-educacion {
  margin-top: 1rem;
}

.seccion-experiencia {
  margin-top: 1rem;
}

.seccion-sobre-mi {
  box-shadow: 0px 0px 21px 0px #eeeeee0d;
}

.flex-educacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cincuenta {
  flex: 1 0 45%;
  padding: 1rem;
  box-shadow: 0px 0px 21px 0px #eeeeee0d;
}

.cien {
  padding: 1rem;
  box-shadow: 0px 0px 21px 0px #eeeeee0d;
}

.contenedor-experiencia {
  box-shadow: 0px 0px 21px 0px #eeeeee0d;
}

.contenedor-centrado {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.seccion-proyectos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.contenedor-proyecto {
  flex: 1 0 45%;
  padding: 1rem;
  box-shadow: 0px 0px 21px 0px #eeeeee0d;
}

.proyectos {
  margin: 1rem 0;
}

.titulo-proyecto {
  font-size: 17px;
}

.imagen-proyecto {
  width: 100%;
  border-radius: 5px;
  margin-top: 0.5rem;
  border: 1px solid #eeeeee;
}

.parrafo-proyecto {
  margin: 0.5rem 0 1rem 0;
}

.seccion-boton {
  text-align: center;
}

.boton-redireccion {
  display: inline-block;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  color: #eeeeee;
  background-color: transparent;
  border: 2px solid #eeeeee;
  border-radius: 4px;
  transition:
    padding 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
  font-size: 14px;
}

.boton-redireccion:hover {
  background-color: #eeeeee;
  color: #000000;
  border-color: #eeeeee;
}
